.post {
    box-sizing: border-box;
    background-color: #EFE9E9;
}

.post .body {
    display: flex;
    gap: 10px;
}

.post .left {
    width: 790px;
}

.post .left .title {
    width: 790px;
    height: 100px;
}

.post .box {
    background-color: white;
    margin-bottom: 32px;
}

.post .left .title input[type='text'] {
    padding: 5px 20px;
    border-radius: 5px;
    width: 764px;
    height: 35px;
}

.post .left h6 {
    margin-bottom: 21px;
}

.post .left .difficulty .options {
    display: flex;
    justify-items: center;
    gap: 10px;
    padding: 5px;
}

.post .left .difficulty .option {
    width: 299px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    justify-items: center;
}

.post .left .privacy .option {
    width: 722px;
    height: 59px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.post .right {
    width: 563px;
    height: 496px;
}

.post .right .preview-post .box {
    margin-bottom: 7px;
}

.post .right .preview-post .header {
    display: flex;
    gap: 10px;
}

.post .right .preview-post .header img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.post .right .preview-post .body {
    width: 563px;
    height: 400px;
}

.post .right .preview-post .interaction {
    height: 40px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.post .right .preview-post .interaction .detail {
    margin-top: 7px;
}

.post .bottom {
    width: 100%;
    height: 60px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-end;
    gap: 70px;
    padding-right: 70px;
    background-color: white;
}

.post .bottom .box {
    height: 40px;
    padding: 5px;
    font-size: 15px;
    border: #000 solid 1px;
    border-radius: 5px;
    margin-top: 10px;
}